fastapi[standard]
uvicorn[standard]
jinja2
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
itsdangerous

# Email (já incluídos no Python)
# smtplib - incluído
# email.mime - incluído

# Variáveis de ambiente
python-dotenv==1.0.0

# Upload de arquivos
aiofiles==23.2.0

# Validações
email-validator==2.1.0

# Desenvolvimento e debug
python-multipart==0.0.6
