{% extends 'layout.html' %}

{% block content %}
  <div class="login-box">
    <h4 class="text-center mb-4">Entrar</h4>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control text-bg-light" id="email" placeholder="Digite seu e-mail">
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control text-bg-light" id="senha" placeholder="Digite sua senha">
      </div>
      <button type="submit" class="btn-login-custom mt-4">Entrar</button>
    </form>
    <p class="text-center mt-4">Não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
  </div>

{% endblock %}
